- name: Generate accounts.yaml
  template:
    src: accounts.yaml.j2
    dest: "{{ tempest_accounts_file }}"

- name: Generate tempest.conf
  vars:
    tempest_lock_path: "{{ zuul_work_dir }}/{{ tempest_lock_folder_name }}"
  template:
    src: tempest.conf.j2
    dest: "{{ zuul_work_dir }}/tempest.conf"

- name: Generate tests list
  copy:
    content: "{{ tempest_tests }}"
    dest: "{{ zuul_work_dir }}/.test_list"
  when:
    - tempest_tests is defined
    - tempest_tests|length > 0
    - tempest_tests_url | default('', True) | length == 0

- name: Fetch test list from internet
  get_url:
    url: "{{ tempest_tests_url }}"
    dest: "{{ zuul_work_dir }}/.test_list"
  when:
    - tempest_tests_url is defined
    - tempest_tests_url | default('', True) | length > 0

- name: Create run.sh
  template:
    src: run.sh.j2
    dest: "{{ zuul_work_dir }}/run.sh"
    mode: 0755

- name: Invoke refstack-run
  command: "./run.sh"
  args:
    chdir: "{{ zuul_work_dir }}"
  when: not skip_execution
