# linters have different requirements than test ones, some would
# conflict, like ansible version required by ansible-lint.
ansible>=2.12.0  # required by ansible-lint
flake8
yamllint>=1.23.0
ansible-lint>6.8.0
