ProposeBot tried its best, but could not apply the patch as is, therefore it will
report you what it could not apply.

BTW, if in the diff you see removed line equal to the added line it may be
caused by invisible trailing spaces. This is safe to ignore.

In most cases content of the patch remainder need to be carefully analyzed and necessary changes applied manually.

Following is the patch remainder:

```
