This is an automatically created Pull Request.

{% if rej_files is defined and rej_files is mapping and rej_files.matched is defined and rej_files.matched > 0 %}
There were patch conflicts, please review original
patch file.
{% endif %}
