- name: Ensure artifacts directory exists
  file:
    path: "{{ ansible_collection_build_artifact_path }}"
    state: directory
  delegate_to: localhost

- name: Collect tarball artifacts
  fetch:
    dest: "{{ ansible_collection_build_artifact_path }}"
    src: "{{ ansible_user_dir }}/{{ ansible_collection_build_collection_tarball }}"
    flat: true

- name: Return collection artifacts to Zuul
  zuul_return:
    data:
      zuul:
        artifacts:
          - name:
              "{% set x = ansible_collection_build_collection_tarball | basename | replace('.tar.gz', '') %}{{ x.split('-')[0] }}.{{ x.split('-')[1] }}"
            url: "artifacts/{{ ansible_collection_build_collection_tarball | basename }}"
            metadata:
              type: ansible_collection
              version: "{% set x = ansible_collection_build_collection_tarball | basename | replace('.tar.gz', '') %}{{ x.split('-')[2:] | join('-') }}"
