---
- name: Ensure artifacts directory exists
  file:
    path: "{{ goreleaser_artifact_path }}"
    state: directory
  delegate_to: localhost

- name: Collect tarball artifacts
  fetch:
    dest: "{{ goreleaser_artifact_path }}"
    src: "{{ zj_tb }}"
    flat: true
  loop: "{{ goreleaser_tarballs }}"
  loop_control:
    loop_var: zj_tb

- name: Return collection artifacts to Zuul
  zuul_return:
    data:
      zuul:
        artifacts:
          - name:
              "{% set x = zj_tb | basename | replace('.tar.gz', '') %}{{ x.split('_')[0] }}"
            url: "artifacts/{{ zj_tb | basename }}"
            metadata:
              type: go_binary_archive
              version: "{% set x = zj_tb | basename | replace('.tar.gz', '') %}{{ x.split('_')[1] }}"
              platform: "{% set x = zj_tb | basename | replace('.tar.gz', '') %}{{ x.split('_')[2] }}"
  loop: "{{ goreleaser_tarballs }}"
  loop_control:
    loop_var: zj_tb
