---
- name: make tempdir
  tempfile:
    state: directory
    suffix: build
  register: tempdir

- name: Fetch goreleaser fetcher
  get_url:
    url: "https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh"
    dest: "{{ tempdir.path }}/goreleaser.sh"
    mode: 0775

- name: Invoke goreleaser fetcher
  command: "{{ tempdir.path }}/goreleaser.sh"
  environment:
    BINDIR: "{{ goreleaser_bin_location"

- name: Set path to goreleaser
  set_fact:
    goreleaser_bin: "{{ goreleaser_bin_location }}/goreleaser"
    cacheable: true
