---
- hosts: all
  tasks:
    # For some reason ansible_test_collection_name squeeze as empty into collection, unless we do something with the value. Who knows why - please tell
    - name: Set some facts
      set_fact:
        ansible_test_collection_name: "{{ ansible_test_collections|ternary(ansible_collection_name, '') }}"
        ansible_test_collection_namespace: "{{ ansible_test_collections|ternary(ansible_collection_namespace, '') }}"

    - name: Run ansible-test
      include_role:
        name: ansible-test
      vars:
        ansible_test_venv_path: "{{ ensure_ansible_root_dir }}"
        ansible_test_ansible_path: "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}"
        ansible_test_python: "{{ python_version }}"
