{
  "data": {
    "type": "registry-modules",
    "attributes": {
      "name": {{ module_name | default("project-factory", true) }},
      "namespace": "opentelekomcloud",
      "provider": "opentelekomcloud",
      "registry-name": "public",
      "no-code": true
    }
  }
}