- username: '{{ refstack_admin.secret.username }}'
  user_id: '{{ refstack_admin.secret.user_id }}'
  project_id: '{{ refstack_admin.secret.project_id }}'
  password: '{{ refstack_admin.secret.password }}'
  domain_name: {{ refstack_admin.secret.domain_name }}
  user_domain_name: {{ refstack_admin.secret.user_domain_name }}
  roles:
    - 'reselleradmin'

- username: '{{ refstack_power1.secret.username }}'
  user_id: '{{ refstack_power1.secret.user_id }}'
  project_id: '{{ refstack_power1.secret.project_id }}'
  password: '{{ refstack_power1.secret.password }}'
  domain_name: {{ refstack_power1.secret.domain_name }}
  user_domain_name: {{ refstack_power1.secret.user_domain_name }}
  roles:
    - 'power_user'

- username: '{{ refstack_power2.secret.username }}'
  user_id: '{{ refstack_power2.secret.user_id }}'
  project_id: '{{ refstack_power2.secret.project_id }}'
  password: '{{ refstack_power2.secret.password }}'
  domain_name: {{ refstack_power2.secret.domain_name }}
  user_domain_name: {{ refstack_power2.secret.user_domain_name }}
  roles:
    - 'power_user'
