#!/usr/bin/bash -x

source .venv/bin/activate

TEST_LIST=""
if [ -f ".test_list" ]; then
    TEST_LIST="--test-list .test_list"
fi

# Currently there is bug in refstack-client, which fails in non-verbose mode
refstack-client test -c tempest.conf ${TEST_LIST} -p -v -- --concurrent {{ tempest_count_users // 2 }}
